<!--footer.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">

<div class="footer" th:fragment="bottom">
    <footer class="w-full bg-main text-white py-4 mt-10">
        <div class="text-center text-sm font-suit tracking-wide opacity-90">
            <!-- 왼쪽: 푸터 텍스트 -->
            <div class="text-lg font-semibold">
                푸터
            </div>

            <!-- 오른쪽: 버튼 그룹 -->
            <div class="flex gap-4">

                <img th:src="@{/img/logo/CCNs_logo_non_bg.png}" alt="CCNs 로고" width="50" height="50">


                <a href="/company" class="px-4 py-2 border border-gray-400 rounded-md text-sm hover:bg-gray-100 transition">
                    회사소개
                </a>

                <a href="/terms" class="px-4 py-2 border border-gray-400 rounded-md text-sm hover:bg-gray-100 transition">
                    이용약관
                </a>

            </div>
        </div>
    </footer>
</div>

</html>

